.main{
    text-align: center;
    font-size: x-large;
}
.book{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.from{
    text-align: center;
}
.main{
    border: 1px solid;
    background-color: rgb(218, 233, 247);
    
}
.mainn{
    border: 1px solid;
    margin-top: 20px;
    width: 300px;
    margin-left: 39%;
    padding: 5px;
    background-color: rgb(238, 245, 251);
    height: 285px;
    border-radius: 10px;
}
body{
    background-image: url(https://images2.alphacoders.com/596/thumb-1920-596297.jpg);
}
.continue{
    background-color: rgb(206, 223, 238);
}